<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="wm-api-autotest">
    <test name="Test">
        <classes>
            <class name="MapTest">
                <methods>
                    <include name="listStreamTest"></include>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name='NewReport'/>
    </listeners>
</suite>